@use '../abstracts/functions' as *;
@use '../abstracts/mixins' as __mix;

html {
  font-size: 100%;
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

p {
  font-size: rem(40);
  @include __mix.breakpoint(desktop) {
    font-size: rem(50);
  }
  color: var(--component-white);
  font-weight: 800;
  align-self: center;
  text-align: center;
}

body {
  font-family: var(--main-font);
  background: var(--background-page);
  height: 100vh;
}
