@use '../abstracts/functions' as *;
@use '../abstracts/mixins' as __mix;

.three-background {
  position: fixed;
  top: 0;
  left: 0;
  outline: none;
  z-index: -50;
}

.page-content {
  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: rem(500);
  margin: rem(100) auto auto;
  gap: rem(50);

  @include __mix.breakpoint(desktop) {
    height: rem(578);
    margin-left: rem(80);
  }

  @include __mix.breakpoint(highres) {
    height: rem(800);
    margin-top: rem(150);
  }
}

.game {
  background-color: var(--text-dark);
  width: rem(320);
  height: rem(180);

  @include __mix.breakpoint(desktop) {
    width: rem(640);
    height: rem(360);
  }

  @include __mix.breakpoint(highres) {
    width: rem(960);
    height: rem(540);
  }
}

.button-container {
  display: flex;
  flex-direction: column;
  gap: rem(20);
}

.page-text {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: rem(60);
  color: var(--component-white);
  font-weight: 800;
  @include __mix.breakpoint(desktop) {
    font-size: rem(100);
  }
  @include __mix.breakpoint(highres) {
    font-size: rem(140);
  }
}