html {
  font-size: 100%;
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  font-family: var(--main-font);
  background: var(--background-page);
  margin: 0;
  padding: 0;
  height: 100vh;
}