<header class="header">

  <div class="header__left">
    <button class="header__menu">
      <img class="header__menu__icon" src="{{ url_for('static',filename='assets/icons/burger-menu-left.svg') }}">
    </button>

    <div class="header__title">Calarium</div>
  </div>

  <button class="planet hide-on-mobile">
    <a href="{{ url_for('main.home') }}">
      <img class="planet__icon" src="{{ url_for('static',filename='assets/icons/saturn.svg') }}">
    </a>
    <span class="planet__text">explore.</span>
  </button>

  <div class="header__right">

    <input type="checkbox" id="header__sound" checked>
    <label for="header__sound">
      <img class="header__sound__icon" src="{{ url_for('static', filename='assets/icons/sound.svg') }}">
    </label>

    <a href="{{ url_for('main.user', username=current_user.username) }}">
    <button class="header__user">
      <img class="header__user__icon" src="{{ url_for('static',filename='assets/icons/user.svg') }}">
    </button>
    </a>
  </div>

</header>