<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Calarium</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- FONTS: Inter regular, bold, extra bold -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap" rel="stylesheet">

  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/style.css') }}">
  <link rel="manifest" href="{{ url_for('static', filename='pwa/manifest.json') }}">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <script type="importmap">
    {
      "imports": {
        "three": "https://unpkg.com/three@0.159.0/build/three.module.js",
        "three/addons/": "https://unpkg.com/three@0.159.0/examples/jsm/"
      }
    }
  </script>
  <script type="module" defer src="{{ url_for('static',filename='main.js') }}"></script>
  <script type="module" defer src="{{ url_for('static',filename='background.js') }}"></script>
</head>
<body>

<main>
  {% block background %}{% endblock %}

  {% block main_content %}{% endblock %}
</main>

{% block navigator %}{% endblock %}

{% block header %}{% endblock %}

</body>
</html>