{% extends "base.html" %}

{% block main_content %}
  <div class="page-content-inbox">
      <div class="inbox">
        {% for post in posts %}
          {% include '_post.html' %}
        {% endfor %}
      </div>
      <a href="{{ url_for('main.send_message') }}">
      <button class="button">Send message</button>
      </a>
    </div>
{% endblock %}

{% block navigator %}
{% include '_navigator.html' %}
{% endblock %}


{% block header %}
{% include '_header.html' %}
{% endblock %}

{% include '_music.html' %}