{% extends "base.html" %}

{% block main_content %}
  <div class="page-content">
    <div class="leaderboard">
      <div class="leaderboard__users">
        <p class="leaderboard__title">Top users</p>
        {% for user in users %}
          {% include '_lb-user.html' %}
        {% endfor %}
      </div>
    </div>
  </div>
{% endblock %}

{% block navigator %}
{% include '_navigator.html' %}
{% endblock %}


{% block header %}
{% include '_header.html' %}
{% endblock %}

{% include '_music.html' %}