{% extends "base.html" %}

{% block background %}
{% include '_three.html' %}
{% endblock %}

{% block main_content %}
  <div class="page-content">
    <a href="{{ url_for('main.add_coins', username=current_user.username) }}">
    <button class="button">play</button>
    </a>
    {% if coins is not none %}
    <p id="game-coin-notification">You gained {{ coins }} starcoins!</p>
    {% endif %}
  </div>
{% endblock %}

{% block navigator %}
{% include '_navigator.html' %}
{% endblock %}


{% block header %}
{% include '_header.html' %}
{% endblock %}

{% include '_music.html' %}