{% extends "base.html" %}

{% block main_content %}
  <div class="page-content">
    <form class="form" action="" method="post" novalidate>
      {{ form.hidden_tag() }}
      {{ form.post(size=64, class_="input-field input-field-message", placeholder_="message") }}
      {{ form.submit(class_="button") }}
    </form>
  </div>
{% endblock %}

{% block navigator %}
{% include '_navigator.html' %}
{% endblock %}


{% block header %}
{% include '_header.html' %}
{% endblock %}

{% include '_music.html' %}