{% extends "base.html" %}

{% block main_content %}
<div class="page-content">
    <div class="page-content-insert">
        <div class="login-title">
        {% if user == current_user %}
            Welcome to your profile, {{ user.username }}
        {% else %}
            Want to embark on a journey alongside {{ user.username }}?
        {% endif %}
        </div>
    </div>
    {% if user == current_user %}
    <a href="{{ url_for('main.play') }}">
        <button class="button">Game</button>
    </a>
    <a href="{{ url_for('main.crew') }}">
        <button class="button">Crew</button>
    </a>
    <a href="{{ url_for('main.inbox') }}">
        <button class="button">Inbox</button>
    </a>
    <a href="{{ url_for('main.leaderboard') }}">
        <button class="button">Leaderboard</button>
    </a>
    {% endif %}
</div>
{% endblock %}

{% block header %}
{% include '_header.html' %}
{% endblock %}

{% include '_music.html' %}
